# The exact URL of your deployed portfolio (or http://localhost:3000 for local testing)
FRONTEND_URL=https://latent-space-psi.vercel.app

GROQ_API_KEY=your_groq_api_key_here

# Your NVIDIA API Key (from https://build.nvidia.com)
NVIDIA_API_KEY=nvapi-xxxx...

# The specific NVIDIA hosted model you want the agent to use
LLM_MODEL=groq/compound-mini
